* {
    box-sizing: border-box;
}

body {
    background-color: rgba(1, 1, 40, 0.807);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-main{
    display: flex;
    flex-direction: row;
    padding: 75px;

}
.container-2{
    width: 50%;
}